@use "../custom-bootstrap" as *;

// TRANSITION
@mixin transitions {
  transition: all 0.3s ease-in-out;
}

// GRADIENT
@mixin gradient {
  background: linear-gradient(to right, $primary, $secondary);
}

// FLEX XENTER
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
