@use '../custom-bootstrap' as *;
@use '../util' as *;

.services {
  background-color: $Light-Grayish-Blue;
  padding: 10.1rem 0;

  @include media-breakpoint-down(md) {
    text-align: center;
  }

  &__caption {
    p {
      margin-top: 3rem;
    }
  }

  &__cards {
    margin-top: 7rem;
  }

  &__card {
    padding: 0.4rem;
    h3 {
      margin-bottom: 3rem;
    }
  }

  &__icon {
    margin-bottom: 4rem;
  }
}
